  <p> <%= label_tag 'anonymous_author', "Si vous avez oublié votre prénom, inventez en un !" %> </p>
  <p> <%= text_field_tag 'anonymous_author' %> </p>

  <p> <%= label_tag 'content', "Modifiez ci dessous:" %> </p>
  <p> <%= text_area_tag 'content' %> </p>